<input type="text" placeholder="Buscar  ..." [(ngModel)]="idrevista" />


<button (click)="seccion.set('APROBADAS')" [disabled]="pausebuttom()">Seleccionar Aprobadas</button>
<button (click)="seccion.set('REVISION')" [disabled]="pausebuttom()">Seleccionar Revisión</button>
<button (click)="seccion.set('USUARIOS')" [disabled]="pausebuttom()">Seleccionar Usuarios</button>
<button (click)="ngOnInit()" [disabled]="pausebuttom()">Actualizar</button>

@if (pausebuttom()) {
<div class="overlay-carga">
    <img src="assets/images/loading-4.gif" alt="Cargando...">
    <p>Subiendo archivos, por favor espera...</p>
</div>
}

@if (seccion()=="APROBADAS") {

<div class="cont-aprob">

    <h2>APROBADOS</h2>

    <div class="cont-revistas">


        <table>
            <tr>
                <td>Titulo</td>
                <td>Autor</td>
                <td>Universidad</td>
                <td>Categoria</td>
                <td>Fecha</td>
                <td>ID</td>
                <td>User_ID</td>
                <td>Archivo</td>
                <td>Portada</td>
                <td>Vista Previa</td>
                <td></td>
            </tr>

            @for (revistas of revistasFiltradasporidapr(); track revistas.id) {

            <tr>
                <td>{{revistas?.titulo}}</td>
                <td>{{revistas?.autor}}</td>
                <td>{{revistas?.universidad}}</td>
                <td>{{revistas?.categoria}}</td>
                <td>{{revistas?.fecha}}</td>
                <td>{{revistas?.id}}</td>
                <td (click)="usuarioautomatico(revistas?.user_id,'USUARIOS')">{{revistas?.user_id}}</td>
                <td> <a [href]="linkPDFApr+revistas?.id+'.pdf'" target="_blank">PDF</a></td>
                <td> <a [href]="LinkIMGApr+revistas?.id+'.jpg'" target="_blank">IMG</a></td>
                <td><a [href]="'/revista/'+revistas?.id" target="_blank">Link</a></td>

                <button (click)='eliminarRevista(revistas?.id)' [disabled]="pausebuttom()">Eliminar</button>
            </tr>






            } @empty {

            <p>no hay revistas ....</p>}

        </table>

    </div>

</div>

}




@if (seccion()=="REVISION") {

<div class="cont-rev">

    <h2>En Revisión</h2>

    <div class="cont-revistas">
        <table>
            <tr>
                <td>Titulo</td>
                <td>Autor</td>
                <td>Universidad</td>
                <td>Categoria</td>
                <td>Fecha</td>
                <td>ID</td>
                <td>User_ID</td>
                <td>Archivo</td>
                <td>Portada</td>
                <td>Vista Previa</td>
                <td></td>
            </tr>

            @for (revistas of revistasFiltradasporidrev(); track revistas.id) {

            <tr>
                <td>{{revistas?.titulo}}</td>
                <td>{{revistas?.autor}}</td>
                <td>{{revistas?.universidad}}</td>
                <td>{{revistas?.categoria}}</td>
                <td>{{revistas?.fecha}}</td>
                <td>{{revistas?.id}}</td>
                <td (click)="usuarioautomatico(revistas?.user_id,'USUARIOS')">{{revistas?.user_id}}</td>
                <td> <a [href]="linkPDFrevision+revistas?.id+'.pdf'" target="_blank">PDF</a></td>
                <td> <a [href]="LinkIMGrevision+revistas?.id+'.jpg'" target="_blank">IMG</a></td>
                <td><a [href]="'/revista/'+revistas?.id" target="_blank">Link</a></td>

                <button (click)="APRREVISTA(revistas?.id,revistas?.user_id)" [disabled]="pausebuttom()">Aprobar</button>
                <button (click)="RECHAZARREVISTA(revistas?.id,revistas?.user_id)"
                    [disabled]="pausebuttom()">Rechazar</button>
            </tr>

            }

            @empty {

            <p>no hay revistas pendientes....</p>}

        </table>






    </div>





</div>

}

@if (seccion()=='USUARIOS') {




<div class="cont-users">

    <h2>Usuarios</h2>

    <div class="cont-users">


        <table>
            <tr>
                <td>ID</td>
                <td>Nombre</td>
                <td>Email</td>
                <td>Universidad</td>
                <td>Registro</td>
                <td>Permiso</td>
                <td></td>
            </tr>

            @for (usuarios of usuariosfiltradosID(); track usuarios.id) {

            <tr>
                <td>{{usuarios?.id}}</td>
                <td>{{usuarios?.nombre_completo }}</td>
                <td>{{usuarios?.email}}</td>
                <td>{{usuarios?.universidad}}</td>
                <td>{{usuarios?.fecha_registro}}</td>
                <td>@if (usuarios?.upload_permission) {
                    <p class="texto-verde">Tiene permisos</p>
                    }@else {

                    <p class="texto-rojo">No Tiene permisos</p>
                    }
                </td>


                <button (click)="cambiarpermiso(usuarios?.id,usuarios?.upload_permission)">Cambiar permiso</button>
            </tr>






            } @empty {

            <p>no hay revistas ....</p>}

        </table>

    </div>

</div>









}