<input type="text" placeholder="Buscar artículo..." [(ngModel)]="idrevista" />



<button (click)="seccion.set('APROBADAS')" [disabled]="pausebuttom()">Seleccionar Aprobadas</button>
<button (click)="seccion.set('REVISION')" [disabled]="pausebuttom()">Seleccionar Revisión</button>
<button (click)="ngOnInit()" [disabled]="pausebuttom()">Actualizar</button>



@if (seccion()=="APROBADAS") {

<div class="cont-aprob">

    <h2>APROBADOS</h2>

    <div class="cont-revistas">


        <table>
            <tr>
                <td>Titulo</td>
                <td>Autor</td>
                <td>Universidad</td>
                <td>Categoria</td>
                <td>Fecha</td>
                <td>ID</td>
                <td>User_ID</td>
                <td>Portada</td>
                <td>Archivo</td>
            </tr>

            @for (revistas of revistasFiltradasporidapr(); track revistas.id) {

            <tr>
                <td>{{revistas?.titulo}}</td>
                <td>{{revistas?.autor}}</td>
                <td>{{revistas?.universidad}}</td>
                <td>{{revistas?.categoria}}</td>
                <td>{{revistas?.fecha}}</td>
                <td>{{revistas?.id}}</td>
                <td>{{revistas?.user_id}}</td>
                <td> <a [href]="linkPDFApr+revistas?.id+'.pdf'" target="_blank">PDF</a></td>
                <td> <a [href]="LinkIMGApr+revistas?.id+'.jpg'" target="_blank">IMG</a></td>
                <button (click)='eliminarRevista(revistas?.id)' [disabled]="pausebuttom()">Eliminar</button>
            </tr>






            } @empty {

            <p>no hay revistas ....</p>}

        </table>

    </div>

</div>

}




@if (seccion()=="REVISION") {

<div class="cont-rev">

    <h2>En Revisión</h2>

    <div class="cont-revistas">
        <table>
            <tr>
                <td>Titulo</td>
                <td>Autor</td>
                <td>Universidad</td>
                <td>Categoria</td>
                <td>Fecha</td>
                <td>ID</td>
                <td>User_ID</td>
                <td>Portada</td>
                <td>Archivo</td>
            </tr>

            @for (revistas of revistasFiltradasporidrev(); track revistas.id) {

            <tr>
                <td>{{revistas?.titulo}}</td>
                <td>{{revistas?.autor}}</td>
                <td>{{revistas?.universidad}}</td>
                <td>{{revistas?.categoria}}</td>
                <td>{{revistas?.fecha}}</td>
                <td>{{revistas?.id}}</td>
                <td>{{revistas?.user_id}}</td>
                <td> <a [href]="linkPDFrevision+revistas?.id+'.pdf'" target="_blank">PDF</a></td>
                <td> <a [href]="LinkIMGrevision+revistas?.id+'.jpg'" target="_blank">IMG</a></td>

                <button (click)="APRREVISTA(revistas?.id,revistas?.user_id)" [disabled]="pausebuttom()">Aprobar</button>
                <button (click)="RECHAZARREVISTA(revistas?.id,revistas?.user_id)"
                    [disabled]="pausebuttom()">Rechazar</button>
            </tr>

            }

            @empty {

            <p>no hay revistas pendientes....</p>}

        </table>






    </div>





</div>

}