<form (ngSubmit)="hola()">


    <h2>Contraseña</h2>
    <input [(ngModel)]="password" type="password" name="pass" id="" minlength="6">
    @if (passwordValido()) {
    <p class="exito">La constrseña esta bien</p>
    }@else if (!passwordValido()) {
    <p> minimo 6 caracteres</p>
    }

    <h2>Confirmar Contraseña</h2>
    <input [(ngModel)]="passwordconf" type="password" name="passconf" id="" minlength="6">
    @if (!passwordconfirm()) {
    <p class="error">La constraseña no coinciden</p>
    }

    <br>
    <br>

    <button type="submit" [disabled]="!formularioValido()">Recuperar</button>