.cont-revistas img {

    width: 100%;
    height: 400px;
    /* Tamaño fijo para la imagen */
    object-fit: cover;


}

.cont-revistas {

    width: 100%;
    /* Deja que el Grid controle el ancho */
    max-width: 300px;
    /* Pero que no crezca más de esto */
    min-height: 400px;
    /* Altura mínima para que todos se vean parejos */

    display: flex;
    /* Para alinear el contenido interno */
    flex-direction: column;
    /* Apila imagen, título y autor */
    justify-content: space-between;
    /* Separa el contenido de forma equitativa */

    border: 1px solid #eee;
    border-radius: 12px;
    overflow: hidden;
    /* Corta lo que se salga del borde redondeado */


}

.cont-padre {

    display: grid;
    /* Crea columnas automáticas de mínimo 250px. Si no caben, saltan abajo. */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    /* Espacio entre los div */
    padding: 20px;


}

#central {

    padding: 180px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0c0c0c;

}

a {
    text-decoration: none;
    color: inherit;
}

.botones {
    background-color: #1a2a6c;
    color: rgb(255, 255, 255) !important;
    padding: 8px 18px;
    border-radius: 20px;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.botones:hover {
    background-color: #e2e6f3;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(39, 29, 29, 0.2);
}